/KhanzaAntrianApotek/build/
/KhanzaAntrianApotek/dist/
/KhanzaAntrianApotek/nbproject/private/
/KhanzaHMSAutoVerify/build/
/KhanzaHMSAutoVerify/dist/
/KhanzaHMSAutoVerify/nbproject/private/
/KhanzaHMSAutoVerify2/build/
/KhanzaHMSAutoVerify2/dist/
/KhanzaHMSAutoVerify2/nbproject/private/
/KhanzaHMSResume/build/
/KhanzaHMSResume/dist/
/KhanzaHMSResume/nbproject/private/
/KhanzaHMSServiceAplicare/build/
/KhanzaHMSServiceAplicare/dist/
/KhanzaHMSServiceAplicare/nbproject/private/
/KhanzaHMSServicePCare/build/
/KhanzaHMSServicePCare/nbproject/private/
/KhanzaHMSServiceSIRSYankes/build/
/KhanzaHMSServiceSIRSYankes/dist/
/KhanzaHMSServiceSIRSYankes/nbproject/private/
/KhanzaSecurity16bit/build/
/KhanzaSecurity16bit/dist/
/KhanzaSecurity16bit/nbproject/private/
/KhanzaUpdater/build/
/KhanzaUpdater/dist/
/KhanzaUpdater/nbproject/private/
/api-bpjsfktp/nbproject/private/
/api-bridgingradiologi/nbproject/private/
/api-khanza/nbproject/private/
/bankjateng/nbproject/private/
/bankpapua/nbproject/private/
/bjb/nbproject/private/
build/
cache/
dist/